*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.content {
    width: 100%;
    height: 100vh;    
}

.wrapper{
    width: 1160px;
    margin: auto;
}

.header {
    width: 100%;
    height: 1012px;
    background-image: url('../Images/Sections-background/section-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.flex-container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.polygon {
    width: 58px;
    height: 67px;
    background-image: url('../Images/logos/Polygon.png');
    background-repeat: no-repeat;
    width: 198px;
    display: flex;
}

.h {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    padding-top: 17px;
    padding-left: 13px;
}

.the {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-top: 10px;
    margin-left: 20px;
    color: #FFFFFF;    
}

.ham {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-top: 10px;
    color: #18CFAB;
}

.menu {
    width: 657px;    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.menu-item {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 50px;
    height: 70px;
}

.menu-item:hover {
    color: #18CFAB;    
    border-bottom: 1px solid #18CFAB;
}

.search-logo {
    width: 21px;
    height: 20px;
    margin-bottom: 42px;
    background-image: url('../Images/logos/Search-icon.png');
}

.introduction {
    text-align: center;
    margin-top: 284px;
}

.subtitle {
    display: inline-block;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;    
    color: #FFFFFF;
    text-transform: uppercase;
}

.green-subtitle {
    color: #18CFAB;
}

.title {
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    margin-top: 66px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.undertitle {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    margin-top: 76px;
    color: #D4D4D4;
}

.top-border {
    margin-top: 141px;
    width: 169px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    transform: translateY(15px);
}

.top-border-purchase {
    margin-left: 16px;
    margin-top: 141px;
    width: 169px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    transform: translateY(15px);
}

.explore-now {    
    margin-right: 13px;
    width: 169px;
    height: 64px;
    background-color: #18CFAB;
    color: #FFFFFF;
    padding-top: 18px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    position: relative;
}

.purchase-now {
    width: 169px;
    margin-left: 16px;
    height: 64px;
    background-color: #00CBF6;
    color: #FFFFFF;
    padding-top: 18px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    position: relative;
}

.section-one {
    width: 100%;
    height: 926px;
    position: relative;
}

.section-one-menu {
    width: 100%;
    height: 377px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section-one-menu-item {
    width: 482px;
    height: 377px;
    border-top: 6px solid #FFFFFF;
    border-bottom: 6px solid #FFFFFF;
    position: relative;
}

.dark-green {
    background-color: #1C2A33;
    color: #18CFAB;    
}

.light-green {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.names {
    padding-top: 232px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.menu-logo {
    width: 120px;
    height: 120px;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 80px;
    left: 180px;
}

.logo1 {
    background-image: url("../Images/logos/logo1.jpg");
    left: 175px;
}

.logo2 {
    background-image: url("../Images/logos/logo2.png");
}

.logo3 {
    background-image: url("../Images/logos/logo3.png");
}

.logo4 {
    background-image: url("../Images/logos/logo4.png");
    top: 85px;
    left: 185px;
}

.our-services {
    text-align: center;
    margin-top: 83px;
}

.section-title-box {
    width: 100%;
    color: #4E4E4E;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

.section-title {
    margin: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

/* .text-for-pseudo{
    font-weight: 400;
    font-size: 10px;
    line-height: 40px;
    width: 100%;
    height: 20px;
} */

.section-title::before {
    content: "";
    border-bottom: 1px solid #18CFAB;
    display: block;
    width: 76px;
    margin-top: 70px;
    margin-left: 530px;
    position: absolute;
}

.section-title::after {
    content: "";
    border-bottom: 1px solid #18CFAB;
    display: block;
    width: 76px;
    margin-top: 34px;
    margin-left: 540px;
    position: absolute;
}

.services-menu {    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.services-menu::after {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 13px solid black;
    
}

.s-menu-item {
    width: 194px;
    height: 72px;
    border: 1px solid #EDEFEF;
    padding-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    cursor: pointer;
}

.s-menu-item:hover {
    border: 1px solid #18CFAB;
}

.active-s-menu-item {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: #FFFFFF;
}

.triangle-box {
    width: 100%;
    height: 13px;    
    display: flex;
}

.t-box {
    opacity: 0;
}

.t-box-active {
    opacity: 100;
}

.triangle {
    margin: auto;
    margin-bottom: 1px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 13px solid #18CFAB;
}

.web-box {
    width: 192px;
}

.graphic-box {
    width: 193px;
}

.online-box {
    width: 193px;
}

.app-box {
    width: 194px;
}

.online-m-box {
    width: 193px;
}

.seo-box {
    width: 193px;
}



.s-menu-content {
    margin-top: 13px;
    height: 139px;
    width: 100%;    
    display: flex;
    justify-content: space-between;    
}

.s-menu-image {
    display: none;
    width: 192px;
    height: 139px;
    background-position: center;
    background-size: cover;
}

.s-image {
    width: 192px;
    height: 139px;
}

.s-menu-text {
    display: none;
    width: 952px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

.text-active {
    display: block;
}

.section-two {
    width: 100%;
    height: 476px;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../Images/Sections-background/section-2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed ;
    text-align: center;
}

.everything {
    padding-top: 127px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.smooth {
    margin-top: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.top-border-purchase-two {
    margin-top: 70px;
    width: 169px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    transform: translateY(15px);
}

.purchase-now-two {
    width: 169px;    
    height: 63px;
    background-color: #18CFAB;
    color: #FFFFFF;
    padding-top: 18px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    position: relative;
}

.section-three {
    width: 100%;
    height: auto;
    padding-top: 95px;
    background-color:#E9EDEF;
    position: relative;
    padding-bottom: 99px;
}

.our-work {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.list {
    width: 582px;
    height: 58px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 71px;
    border: 1px solid #DADADA;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.list-item {
    border: 1px solid #D4D4D4;
    height: 58px;
    padding-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    cursor: pointer;    
}

.list-item-active {
    border: 2px solid #18CFAB;
    color: #18CFAB;
    padding-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;    
}

.all-tab {
    width: 79px;
}

.graphic-tab {
    width: 143px;
}

.web-tab {
    width: 117px;
}

.landing-tab {
    width: 137px;
}

.wordpress-tab {
    width: 106px;
}

.blocks-box {
    width: 1155px;
    height: auto;
    font-size: 0;      
}

.blocks-box2 {
    width: 1155px;
    height: auto;
    font-size: 0;
    position: absolute;
    top: 354px;
}

.blocks-item {
    width: 285px;
    height: 211px;
    display: inline-block; 
    margin: 0;
    cursor: pointer;
    background-repeat: no-repeat;   
    background-size: cover;
    position: relative;
}

.hover-block {
    background-color: #E9EDEF;
    border-top: 2px solid #18CFAB;
    opacity: 0;
}

.hover-block:hover {
    opacity: 100;
    transition: 0.5s;
}

.figures {
    margin: auto;
    margin-top: 48px;
    width: 85px;
    height: 41px;
    position: relative;    
}

.elipse1 {
    width: 41px;
    height: 41px;
    background-image: url("../Images/logos/EllipseWhite.png");
    background-position: center;
    background-size: cover;
    position: absolute;    
}

.figure {
    width: 20px;
    height: 20px;
    background-image: url("../Images/logos/hover-figure.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 11px;
    left: 11px; 
}

.elipse2 {
    width: 41px;
    height: 41px;
    background-image: url("../Images/logos/Ellipse.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 43px;
    top: -1px
}

.square {
    width: 12px;
    height: 11px;
    background-color: #FFFFFF;
    position: absolute;    
    top: 16px;
    left: 15px;
}

.creative-design {    
    width: 160px;
    position: absolute;
    color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    top: 80px;
    left: -22px;
}

.type {
    width: 160px;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    position: absolute;
    top: 102px;
}

.type-wordpress {
    left: 14px
}

.type-web-design {
    left: 10px
}

.inactive {
    display: none;
}

.landing-pages1 {
    background-image: url('../Images/landing-page/landing-page1.jpg');

}

.wordpress1 {
    background-image: url('../Images/wordpress/wordpress1.jpg');

}

.graphic-design1 {
    background-image: url('../Images/graphic-design/graphic-design1.jpg');

}

.web-design1 {
    background-image: url('../Images/web-design/web-design1.jpg');

}

.landing-pages2 {
    background-image: url('../Images/landing-page/landing-page2.jpg');

}

.wordpress2 {
    background-image: url('../Images/wordpress/wordpress2.jpg');

}

.graphic-design2 {
    background-image: url('../Images/graphic-design/graphic-design2.jpg');

}

.web-design2 {
    background-image: url('../Images/web-design/web-design2.jpg');
}

.landing-pages3 {
    background-image: url('../Images/landing-page/landing-page3.jpg');
}

.wordpress3 {
    background-image: url('../Images/wordpress/wordpress3.jpg');
}

.graphic-design3 {
    background-image: url('../Images/graphic-design/graphic-design3.jpg');
}

.web-design3 {
    background-image: url('../Images/web-design/web-design3.jpg');
}

.landing-pages4 {
    background-image: url('../Images/landing-page/landing-page4.jpg');
}

.wordpress4 {
    background-image: url('../Images/wordpress/wordpress4.jpg');
}

.graphic-design4 {
    background-image: url('../Images/graphic-design/graphic-design4.jpg');
}

.web-design4 {
    background-image: url('../Images/web-design/web-design4.jpg');
}

.landing-pages5 {
    background-image: url('../Images/landing-page/landing-page5.jpg');
}

.wordpress5 {
    background-image: url('../Images/graphic-design/graphic-design6.jpg');
}

.graphic-design5 {
    background-image: url('../Images/graphic-design/graphic-design5.jpg');
}

.web-design5 {
    background-image: url('../Images/web-design/web-design5.jpg');
}

.landing-pages6 {
    background-image: url('../Images/landing-page/landing-page6.jpg');
}

.wordpress6 {
    background-image: url('../Images/wordpress/wordpress6.jpg');
}

.graphic-design6 {
    background-image: url('../Images/graphic-design/graphic-design6.jpg');
}

.web-design6 {
    background-image: url('../Images/web-design/web-design6.jpg');
}

.loader {
    margin: auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    border: 5px solid rgba(88, 210, 188, 0.5);
    border-radius: 50%;
    border-left-color: #18CFAB;
    animation: loader 1s linear infinite;
    opacity: 0;
}

.load-more-btn {
    display: flex;
    justify-content: space-around;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color:#FFFFFF;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-right: 10px;
    border-radius: 4px;
    margin-top: 10px;    
}

.plus {
    width: 18px;
    height: 19px;
    margin-top: 10px;
    margin-left: 15px;
    background-image: url('../Images/logos/Plus.png');
    background-repeat: no-repeat;
}

.section-four {
    width: 100%;
    height: 958px;
    padding-top: 82px;
    text-align: center;
}

.breaking {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.breaking-grid-box {
    width: 100%;
    height: 650px;
    margin-top: 50px;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 35px;
}

.breaking-bg {
    width: 263px;
    height: 208px;
    display: flex;
    justify-content: flex-end;
}

.date {
    width: 70px;
    height: 68px;
    background-color: #1C2A33;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 9px;
    transition: 0.5s;    
}

.number {
    margin-top: 9px;
}

.breaking-color {
    color: #717171;
    transition: 0.5s;
}

.breaking-color:hover {
    color: #18CFAB;
}

.breaking-color:hover .date {
    background-color: #18CFAB;
}

.date:hover {
    background-color: #18CFAB;
}

.bg-one {
    width: 263px;
    background-image: url('../Images/Breaking/Block1.png');
}

.bg-two {
    background-image: url('../Images/Breaking/Block2.png');
}

.bg-three {
    background-image: url('../Images/Breaking/Block3.png');
}

.bg-four {
    background-image: url('../Images/Breaking/Block4.png');
}

.bg-five {
    background-image: url('../Images/Breaking/Block5.png');
}

.bg-six {
    background-image: url('../Images/Breaking/Block6.png');
}

.bg-seven {
    background-image: url('../Images/Breaking/Block7.png');
}

.bg-eight {
    background-image: url('../Images/Breaking/Block8.png');
}

.blog-post {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;    
    margin-right: 40px;
    height: 30px;
}

.admin {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;       
    color: #777777;
}

.comment {
    margin-right: 40px;
}

.admin::after {
    content: "";
    border-right: 1px solid #717171;
    width: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: inherit;
}

.post-author {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    width: 100%; 
    height: 20px;
    color: #777777;
}

.section-five {
    width: 100%;
    height: 853px;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('../Images/Sections-background/section-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 98px;
    text-align: center;
}

.wrapper-section-five {
    width: 1160px;
    margin: auto;
    position: relative;
}

.people-services {
    width: 100%;
    color: #4E4E4E;
    padding-bottom: 10px;
    text-align: center;
}

.people {
    margin: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

.people::before {
    content: "";
    border-bottom: 1px solid #18CFAB;
    display: block;
    width: 76px;
    margin-top: 70px;
    margin-left: 530px;
    position: absolute;
}

.people::after {
    content: "";
    border-bottom: 1px solid #18CFAB;
    display: block;
    width: 76px;
    margin-top: 34px;
    margin-left: 540px;
    position: absolute;
}

.text-for-pseudo::before {
    content: "";
    border-bottom: 1px solid #18CFAB;
    display: block;
    width: 76px;
    margin-top: 26px;
    margin-left: 530px;
}

.text-for-pseudo::after {
    content: "";
    border-bottom: 1px solid #18CFAB;
    display: block;
    width: 76px;
    margin-top: 2px;
    margin-left: 540px;
}

.review-wrapper::before {
    content: "";
    width: 40px;
    height: 28px;
    background-image: url("../Images/logos/quotes.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 554px;
    top: 130px;
}

.review-wrapper {
    width: 1200px;
    height: 60px;
    margin-top: 150px;
    overflow: hidden;    
}

.review-slider-line {
    width: 100%;
    height: 250px;
    position: relative;
    top: 0px;
}

.review {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    opacity: 0;
    transition: 2s;
}

.name-slider-wrapper {
    margin: auto;
    margin-top: 37px;
    width: 180px;
    height: 60px;
    overflow: hidden;    
}

.name-slider-line {
    width: 180px;
    height: 240px;
    position: relative;
    top: 0;    
}

.user-box {    
    width: 180px;
    height: 60px;
    opacity: 0;
    transition: 2s;
}

.user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #18CFAB;
}

.user-job {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.container {
    margin: auto;
    margin-top: 33px;
    width: 800px;
    height: 166px;
}

.slider-wrapper {    
    margin: auto;    
    width: 166px;
    height: 166px;
    border-radius: 100px;
    overflow: hidden;    
}

.large-photo-slider-line {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 664px;
    height: 166px;
    position: relative;
    left: 0;   
}

.large-photo {
    width: 166px;
    height: 166px;
    border-radius: 100px;
    background: #1fdab531;
    opacity: 0;
    transition: 2s; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 86%;    
}

.lp-active{
    opacity: 100;
}

.large-photo-bg-one {
    background-image: url('../Images/photos/Photo1.png');
}

.large-photo-bg-two {
    background-image: url('../Images/photos/Photo2.png');  
}

.large-photo-bg-three {
    background-image: url('../Images/photos/Photo3.png');   
}

.large-photo-bg-four {
    background-image: url('../Images/photos/Photo4.png');   
}

.slider-box {
    margin: auto;
    margin-top: 45px;
    width: 487px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photos-wrapper {
    width: 353px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo {
    width: 61px;
    height: 61px;
    border-radius: 100px;
    background: #1fdab531;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 86%;
}

.active-photo {
    margin-bottom: 20px;
} 

.active {
    display: block;
}

.photo-one {
    background-image: url('../Images/photos/Photo1.png');
}

.photo-two {
    background-image: url('../Images/photos/Photo2.png');
}

.photo-three {
    background-image: url('../Images/photos/Photo3.png');
}

.photo-four {
    background-image: url('../Images/photos/Photo4.png');
}

.slider-button {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.prev {
    background-image: url('../Images/logos/left.png');
}

.next {
    background-image: url('../Images/logos/right.png');
}

.slider-button:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    background-repeat: no-repeat;
    background-position: center;
}

.prev:hover {
    background-image: url('../Images/logos/left-hover.png');
}

.next:hover {
    background-image: url('../Images/logos/right-hover.png');
}

.section-six {
    width: 100%;
    height: 1390px;
    padding-top: 108px;
    overflow: hidden;
    position: relative;
}

.footer {
    width: 100%;
    height: 121px;
    background-color:#22353F;
    text-align: center;
}

.copyright {
    display: inline-block;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-top: 48px;
}

.theham {
    color: #18CFAB;
}

.theham::after {
    content: "";
    border-right: 1px solid #717171;
    width: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: inherit;
}

.grid {
    margin-top: 60px;
    max-width: 1160px;
    max-height: 950px;    
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}
  
.grid-sizer,
.grid-item {
    width: 372px;
    margin-bottom: 20px;    
}
  
.grid-item {
    height: 263px;
    float: left;
    font-size: 0;    
}

.grid-item--width2 { width:  378px; }

.grid-item--height2 { height: 380px; }

.grid-item--height3 { height: 260px; }

.grid-item--height4 { height: 444px; }

.grid-item--height5 { height: 276px; }

.grid-item--height6 { height: 247px; }

.grid-item--height7 { height: 373px; }

.grid-item--height8 { height: 290px; }

.grid-item--height9 { height: 254px; }
  
img {
    display: inline-block;    
}

.img-full {
    width: 100%;
    height: 100%;
}

.img-middle {
    width: 187px;
    height: 168px;
    margin-bottom: 3px;
}

.middle-second {
    margin-left: 4px;
}

.img-mini {
    width: 124px;
    height: 89px;
    margin-bottom: 3px;
}

.mini-margin {
    margin-left: 3px;
}

.masonry-inactive { 
    visibility: hidden;
}

.loader-masonry {
    margin-top: 0;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}